body{
    font-family: "Noto Serif", sans-serif;
    line-height: 1.8;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

a{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 750;
    color: #20212c;
}

img{
    width: 100%;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(248, 133, 233, 0.6), rgba(132, 132, 136, 0.6));
    z-index: -1;
}

.bg-cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 14px 22px;
    transition: all 0.3s ease;
}

.btn-main{
    background: linear-gradient(to right,#fd5af0, #848488);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: white;
}

.btn:hover{
    color: #fff;
    transform: translateY(-5px);
}

.video-btn{
    width: 60px;
    height: 60px;
    background: linear-gradient(rgba(248, 133, 233, 0.6), rgba(132, 132, 136, 0.6));
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
}

.video-btn i{
    font-size: 32px;
}

.navbar{
    box-shadow: 0 12px 20px rgba(0,0,0,0.1);
}

.nav-item{
    font-size: 1.1rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    background: -webkit-linear-gradient(#fd5af0, #848488);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-intro{
    margin-bottom: 40px;
}

.section-intro .divider{
    height: 4px;
    width: 70px;
    background: linear-gradient(to right,#fd5af0, #848488);
    margin: 16px auto;
}

.service .service-img{
    position: relative;
}

.service .service-img .icon{
    width: 90px;
    height: 90px;
    background: linear-gradient(to right,#fd5af0, #848488);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);

}

.service .service-img .icon i{
    font-size: 36px;
}



.features i{
    background: -webkit-linear-gradient(#fd5af0, #848488);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
}

.reviews{
    box-shadow: 0 12px 12px rgba(0,0,0,0.1);
}

.reviews .person{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    padding-bottom: 18px;
}

.reviews .person img{
    width: 80px;
    height: 80px;
    border-radius: 100px;
}

.reviews .stars{
    color: orangered;
}

from .form-control{
    border-radius: 0;
    background: transparent;
    color: #fff;
    border-color: rgba(225, 225, 225, 0.5);
}

from .form-control:focus{
    color: #fff;
    background: transparent;
    border-color: #fff;
}

from input .form-control{
    height: 54px;
}

from .form-control::placeholder{
    color: #fff;
}

footer{
    background: linear-gradient(to right,#fd5af0, #848488);
    color: #fff;  
}

footer a{
    color: #fff;
    font-size: 22px;
}

footer p{
    color: #fff;
    font-size: 18px;
}

